.menu {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50% 50%;
  cursor: pointer;
  z-index: 10;

  :global {
     .anticon-menu-unfold {
      font-size: 20px;
      padding: 10px 10px;
      border-radius: 50% 50%;
      background-color: antiquewhite;
    }
  }
}

.menuItem {
  p {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px 10px;

    &:hover {
      background-color: aquamarine;
    }
  }
}