@media screen and (max-width: 768px) {
  .novel {
    white-space: pre-line;
    font-size: 18px;
    padding: 0;
    line-height: 26px;
  }

  /* 样式规则 */
  .leftContent {
    display: none;
    width: 70%;
    height: 100%;
  }
}

/* 当屏幕宽度大于768像素时应用样式 */
@media screen and (min-width: 769px) {
  /* 样式规则 */

  .novel {
    white-space: pre-line;
    font-size: 18px;
    padding: 10px 30px 10px 100px;
    line-height: 26px;
  }
  
  .leftContent {
    display: block;
  }
}

.pagination {
  display: inline-block;
  :global {
    .ant-pagination-options-size-changer {
      display: none;
    }
  }
}

.header {
  text-align: center;
  padding: 0 0 15px 0;
  width: 100%;
  background-color: #ffc760;
  border-bottom: 1px solid #dfc188;

  :global {
    .ant-space {
      margin: 0 10px;
      vertical-align: top;
    }
  }
}

.content {
  flex: 1;
  overflow: auto;

  :global {
    .ant-row {
      overflow: auto;
    }

    .ant-col {
      height: 100%;
      overflow: auto;
      font-size: 16px;
    }

  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  box-sizing: border-box;
  overflow: auto;
  padding: 20px 20px;
  background-color: #ffc760;
}

.pageWrapper {
  margin: 20px auto;

  :first-child {
    // width: 60%;
  }

  :global {
    .ant-pagination {
      display: inline-block;
      width: 45%;
      margin: 0 auto;
    }
  }
}

.remberButton {
  vertical-align: top;
}

.artical {
  padding: 10px 100px;
  width: 60%;
  line-height: 23px;

  font {
    font-size: 17px !important;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid skyblue;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
